$theme-colors: (
  "yes": #1bc55f,
  "abstain": #ffa800,
  "no": #f54e60,
  "needed": #edeff7,
  "neededText": #9babb9,
  "currentBlock": #008de4,
);
div.progress {
  border-radius: 6px;
  height: 4px;
}
@import "~bootstrap/scss/bootstrap";
